{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="/home.css" type="text/css">

{% endblock %}

{% block content %}
    <div class="twit_container">
        {% for twit in twits %}
        <div class="twit">
            <div class="image_wrap">
                <div class="image_box"></div>
                {% for image in twit.Images%}
                    <div class="slide_content">
                        <img class="slide_img" src="{{image.img_url}}" alt="image">
                    </div>
                {% endfor %}
                

            </div>
            <div class="text_wrap">
                <div class="twit_author">
                    <form action="/search/username" class="username_form" method="GET">
                        <span>작성자 : </span>
                        <input type="hidden" value="{{twit.User.name}}" name="writer" class="twit_user_name">
                        <button type="submit" class="username_btn">{{twit.User.name}}</button>
                    </form>
                </div>
                <div class="twit_date">
                    {{twit.createdAt}}
                </div>
                <div class="twit_content"> 
                    {{twit.content}}
                </div>
                <form action="/edit" method="GET">
                    <input type="hidden" value="{{twit.id}}" name="postId" class="twit_id">
                    <button class ="edit_btn" type="submit">편집</button>
                </form>
            </div>
        </div>
    {% endfor %}         
    </div>
{% endblock %}

{% block script %}
<script>
    window.onload = async function () {
        const contents = document.getElementsByClassName('twit_content');
        for(let i=0; i<contents.length; i++) {
            let content = contents[i];
            const hashtags = content.innerHTML.match(/#[^\s#]*/g); //정규표현식 사용해서 hashtag 얻기
            if (hashtags) {
                const result = await Promise.all(
                    hashtags.map(tag => {
                        ptag = tag.slice(1).toLowerCase();
                        content.innerHTML = content.innerHTML.replaceAll(tag , 
                        `<form action="/search/hashtag" method="GET" class="hashtag_form">
                            <input type="hidden" value="${ptag}" class="hashtag" name="hashtag">
                            <button type="submit" class="hashtag_btn">${tag}</button>
                        </form>`);
                    }),
                );
            }
        }
    }
</script>
<script>
    window.onload = async function () {
        
    }
    
</script>

{% endblock %}